
extends ../base

block title 
    title Course List

block content 
    include ../messages
    .container.mt-5.h-100
        .card.shadow.rounded
            .card-header.text-center.bg-info.text-white Courses offered
            .card-body.content-center
                br
                if(courses != [] )
                    table.table#Table.my-4
                        thead.thead-dark
                            th Course Title
                            th Start Date
                            th End Date
                            th Seats Left
                            if( user.role === 'faculty')
                                th Edit
                                th Delete
                            else
                                th Enroll
                        tbody
                            for course in courses
                                tr
                                    td
                                      a.btn.btn-info.btn-block(href=`/courses/${course.id}/`)= course.title
                                    td= course.from.toLocaleDateString()
                                    td= course.to.toLocaleDateString()
                                    td= course.capacity
                                    if( user.role === 'faculty')
                                        td
                                            a.btn.btn-warning(href= `/courses/${course.id}/edit`) Edit
                                        td
                                            a.btn.btn-danger(href= `/courses/${course.id}/delete` ) Delete
                                    else
                                        if( course.students.includes(user.id))
                                            td
                                                a.btn.btn-danger.disabled Enrolled
                                        else

                                            td
                                                a.btn.btn-danger(href= `/courses/${course.id}/enroll` ) Enroll
                else
                    .container-fluid.text-center No course found at this time :(
                br
                br
            .card-footer
                if( user.role === 'faculty')
                    a.btn.btn-success.btn-block(href = '/courses/add') Add Course

block styles
    style.
        .dataTables_wrapper .dataTables_length {
            float: left;
        }
        .dataTables_wrapper .dataTables_filter {
            float: right;
            text-align: left;
        }