
extends ../base

block title 
    title Course List

block content 
    .container.mt-5
        if(messages)
         for message in messages 
            div( class="alert alert-info alert-dismissible fade show" role="alert" ).w-100
                strong= message
                button( type="button" class="close" data-dismiss="alert" aria-label="Close" )
                    span(aria-hidden="true") &times;
    .container.mt-5.h-100
        .card
            .card-header.text-center.bg-info.text-white Courses offered
            .card-body.content-center
                if( user.role === 'faculty')
                    .row
                        .col-md-2
                        .col
                            a.btn.btn-success.btn-block.my-4(href = '/courses/add') Add Course
                        .col-md-2
                if(courses )
                    table.table#Table.my-4
                        thead.thead-dark
                            th Course Title
                            th Start Date
                            th End Date
                            th Seats Left
                            if( user.role === 'faculty')
                                th Edit
                                th Delete
                            else
                                th Enroll
                        tbody
                            for course in courses
                                tr
                                    td= course.title
                                    td= course.from.toLocaleDateString()
                                    td= course.to.toLocaleDateString()
                                    td= course.capacity
                                    if( user.role === 'faculty')
                                        td
                                            a.btn.btn-secondary(href= `/courses/${course.id}/edit`) Edit
                                        td
                                            a.btn.btn-danger(href= `/courses/${course.id}/delete` ) Delete
                                    else
                                        td
                                            a.btn.btn-danger(href= `/courses/${course.id}/enroll` ) Enroll

                else
                    .container-fluid.text-center No course found at this time :(
