extends base

block title
    title Profile page

block content
    .container.mt-4.col-md-5
        .card
            .card-header.text-center.bg-info.text-light
                h3.text-light= profile.name
            .card-body
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text Role
                    .form-control= user.role
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text Email
                    .form-control= profile.email
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text Address
                    .form-control= profile.address
                
                ul.list-group.list-group-flush
                    if( user.role === 'faculty')
                        li.list-group-item.active.d-flex.justify-content-between Handling Courses
                            span(class="badge badge-success badge-pill")= profile.courses.length
                    else
                        li.list-group-item.active.d-flex.justify-content-between Registered Courses
                            span(class="badge badge-success badge-pill")= profile.courses.length

                    if( profile.courses )
                        for c in profile.courses
                            a.list-group-item.btn-block.btn-secondary(href=`/courses/${c.id}/`)= c.title
                    else
                        li.list-group-item No course registered.